.header {
	height: 80px;
	background-color: #1c2b35;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 140px;
	padding-right: 140px;
}
.header a {
	color: #ffffff;
	font-size: 17px;
	text-decoration: none;
	margin-left: 36px;
}
.header a:hover {
	color: sandybrown;
}
.btn-signOut {
	margin-left: 36px;
	border: 2px solid sandybrown;
	border-radius: 15px;
	background: transparent;
	color: #fff;
	font-size: 17px;
	padding: 10px 20px;
}
.btn-signOut:hover {
	background-color: sandybrown;
	cursor: pointer;
	color: #000000;
}
